src/classes/PPSFWOO/class-ppsfwoo-plugin-extras.php
src/classes/PPSFWOO/class-ppsfwoo-enterprise.php
dist
src/templates/users-table-settings-page.php
src/templates/subscriber-table-my-account.php
src/js/premium*
src/js/enterprise*
src/css/enterprise*
src/templates/tab-content/tab-license.php
src/templates/tab-content/tab-roles.php
test-data
.*