.ppsfwoo-subscribe-button {
  margin-bottom:15px;
  font-size:1.5em;
  word-break: normal;
}
.ppsfwoo-quantity-input {
  margin-bottom:15px;
}
.inactive-subscription,
.ppsfwoo-cancelled {
  display: none;
}
.subs-actions a {
  margin-right: 10px;
  padding: 10px;
}
p.order-again {
  display: none;
}
.please-wait {
  font-weight: bold;
}
#waiting-ellipsis::after {
  content: '';
  animation: ellipsis-animation 2s infinite;
}
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: none !important;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@keyframes ellipsis-animation {
  25%  { content: '. '; }
  50%  { content: '. .'; }
  75%  { content: '. . .'; }
}
@media screen and (max-width:673px) {
  .subs-actions a {
    display: block;
    margin-bottom: 3px;
    text-align: center !important;
  }
  .subs-actions::before {
    content: "" !important;
  }
  .subs-actions a.inactive-subscription,
  .subs-actions a.ppsfwoo-cancelled {
    display: none;
  }
}
